<div class="user_info">
    <%= gravatar_for current_user, :size => 100 %>
    <div class="page-header"><h3><%= current_user.name %></h3></div>
	<section>
	<a href="<%= user_path(current_user) %>">View My Profile</a>
	</section>
	<section>
    <%= pluralize(current_user.microposts.count, "micropost") %>
	</section>
</div>