<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %> /*security tag to guard against attack*/
  </head>
  <body>
    <%= yield %>
  </body>
</html>